@charset "UTF-8";
/* CSS Document */
body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #F5FEFF;
}

.thumbnailleft{
	float: left;
	padding-right: 10px;
}

.thumbnailright{
	float: right;
	padding-left: 10px;
}

a:link
{
	color:#730300;
}

a:visited
{
	color:#FFD100;
}

a:hover
{
	color:#FF8300;
}

table 
{
    width: 100%;
    border-collapse: collapse;
    border: none;
    color: #730300;
    font-size: 14px;
}
th
{
    background-color: #000000;
    border: 1px solid;
    color: #FFFFFF;
    padding: 8px;
    text-align: left;
}
td 
{
	color: #FFFFFF;
    background-color: #730300;
    border: 1px solid;
    padding: 8px;
}
caption
{
	font-size: 24px;
	font-family: 'Bendable', sans;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;	
}
@font-face 
{
  font-family: 'Bendable';
  src: url('fonts/bendable.ttf') format('truetype');
}
caption {
    font-size: 24px;
    font-family: 'Bendable', sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

#container {
    width: 900px;
    margin: 0 auto; 
    background-color: #730300;
}

header {
    width: 900px;
    background-color: #000000;
    height: 140px;
    overflow: visible;
    padding: 10px;
    position: relative;
}

header .logo {
    float: left;
    position: relative;
    z-index: 2;
    margin-right: 10px;
    height: 100px;
}

header .banner {
    float: left;
    height: 120px;
    margin-top: 10px;
}

section {
    width: 900px;
    background-color: #b5b5b5;
    background-repeat: repeat-y;
    overflow: auto;
    padding: 20px 0;
	clear: both;
}

header nav {
    width: 30%;
    float: right;
    text-align: right;
    margin-top: 20px;
}

header nav a {
    display: block;
    padding: 10px;
    margin-bottom: 8px;
    background-color: #F5FEFF;
    color: #000000;            
    font-size: 20px;
    border-radius: 8px;
    font-weight: bold;
}

nav a:hover {
    background-color: #FF8300; 
    color: #000000;
}

article {
    width: 800px;
    float: right;
    padding: 10px;
    background-color: #F5FEFF;
	color: #000000;
    border-left: 5px solid #000000;
}

footer {
    width: 900px;
    height: 60px;
    background-color: #000000;
    color: #F5FEFF;
    text-align: center;
    padding-top: 15px;
    clear: both;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.thumbnailleft{
	float: left;
	padding-right: 10px;
}

.thumbnailright{
	float: right;
	padding-left: 10px;
}

body{
	background-color:#730300;
}

body{
	color:#F5FEFF;
}

a:link
{
	color:#037BDE;
}

a:visited
{
	color:#FFD100;
}

a:hover
{
	color:#FF8300;
}

table 
{
    width: 100%;
    border-collapse: collapse;
    border: none;
    color: #730300;
    font-size: 14px;
}
th
{
    background-color: #000000;
    border: 1px solid;
    color: #FFFFFF;
    padding: 8px;
    text-align: left;
}
td 
{
	color: #FFFFFF;
    background-color: #730300;
    border: 1px solid;
    padding: 8px;
}
caption
{
	font-size: 24px;
	font-family: 'Bendable', sans;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;	
}
@font-face 
{
  font-family: 'Bendable';
  src: url('fonts/bendable.ttf') format('truetype');
}
caption 
{
  font-family: 'Bendable', sans-serif;
}

type="text/css">

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.thumbnailleft{
	float: left;
	padding-right: 10px;
}

.thumbnailright{
	float: right;
	padding-left: 10px;
}

body{
	background-color:#730300;
}

body{
	color:#F5FEFF;
}

a:link
{
	color:#037BDE;
}

a:visited
{
	color:#FFD100;
}

a:hover
{
	color:#FF8300;
}
.splash-title,
.splash-tagline,
.splash-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.splash-title {
    text-align: center;
    font-size: 2.5em;
    margin-top: 50px;
}

.splash-tagline {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 30px;
}