.print-off{
	display:none;
}

body{
	background-color: white;
	color: black;
	font-family: "Times New Roman", Georgia, serif;
	margin: auto;
}

header {
	display:none;
}

section	{
	width: 100%;
}

article	{
	width: 95%;
	margin: auto;
	padding-right: 5px;
	float: none;
}
nav{
	display:none;
}

footer	{
	display:none;
}

.rightcolumn, .sidebar, .aside, .column-right {
    float: none;
    width: 100%;
}